*{
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  
  a:hover {
    color: #ffcc00;
  }
  

.photos{
    max-width: 1300px;
    margin-left: 12vw;
    margin-right: 10vw;
    margin-top: 5vw;


}
.display-photo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) );
    grid-gap: 10px;
}
.photos img{
    width: 35vw;
    height: 35vw;
    object-fit: cover;
}
.single-photo{
    max-width: fit-content;
}



h1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 3rem;
}

  

  

@media only screen and (max-width: 1000px) {
    .display-photo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }

    
  }
@media only screen and (max-width: 600px) {
    .display-photo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }

    
  }
 


